@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Slabo+27px&display=swap");

:root {
  --font-base: "Quicksand", sans-serif;
  --font-name: "Slabo";
  --primary-color: #FCFAFA;
  --secondary-color: #0D0D0D;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --white-color: #ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
